[user]
	name = Tyler Tidman
	email = tyler.tidman@draak.ca
#	signingkey = ~/.ssh/id_ed25519
#[commit]
#	gpgsign = true
#[gpg]
#	format = ssh
[pull]
	rebase = true
[core]
	pager = less -FRX
[status]
	short = true
[alias]
	dt = diff-tree --name-only --no-commit-id -r
	first = rev-list --abbrev-commit --max-parents=0 HEAD
	lg = log --decorate --graph --oneline
	lga = log --all --decorate --graph --oneline
	root = rev-parse --show-toplevel
