[user]
	name = Tyler Tidman
	email = tyler.tidman@draak.ca
[core]
	pager = less -FRX
[pull]
	rebase = true
[status]
	short = true
[alias]
	dt = diff-tree --name-only --no-commit-id -r
	lol = log --oneline --decorate --graph
	lola = log --oneline --decorate --graph --all
