[user]
	name = Tyler Tidman
	email = tyler.tidman@draak.ca
[core]
	pager = less -FRX
[pull]
	rebase = true
[status]
	short = true
[alias]
	dt = diff-tree --name-only --no-commit-id -r
	lg = log --decorate --graph --oneline
	lga = log --all --decorate --graph --oneline
	root = rev-parse --show-toplevel
#[commit]
#	gpgsign = true
#[url "ssh://git@github.com/"]
#	insteadOf = https://github.com/
